  .square-form .header {
    padding: 20px 30px;
    color: #a9aeb2;
    font-size: 14px;
    font-weight: bold;
    background: #EBEDEF;
    border-bottom: 1px solid #ddd;
  }
  .square-form .header .close {
    float: right;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    top: -12px;
  }
  .square-form .form-body {
    padding: 30px;
  }
  .square-form .form-body .title {
    margin-bottom: 20px;
  }
  .square-form .form-body .s-form-field input,
  .square-form .form-body .s-btn {
    width: 100%;
    box-sizing: border-box;
  }
  .square-form .form-body .s-btn {
    text-align: center;
  }
  .square-form .form-body .s-form-field {
    margin-bottom: 25px;
  }
  .square-form .form-body .s-form-field input {
    font-size: 16px;
    padding: 6px 8px;
    padding-left: 40px;
  }
  .square-form .form-body .s-form-field .entypo-mail {
    position: absolute;
    left: 16px;
    top: 3px;
    font-size: 28px;
    color: #c6c9cd;
  }
  .square-form .form-body .loading-icon {
    margin-right: 6px;
  }
  .square-form .form-body .square-card-container {
    position: relative;
  }
  .square-form .form-body .square-card-container.more-space {
    margin-bottom: 20px;
  }
  .square-form .form-body .square-card-container .error-message {
    position: absolute;
    bottom: 14px;
  }
  .square-form .form-body .square-card-container .error-message.more-space {
    bottom: 0;
  }
  .square-form .form-body .square-card-container .sq-card-message {
    position: relative;
    z-index: 100;
    background-color: white;
  }
  .square-form .form-body .square-card-container .spinner-container {
    text-align: center;
    margin-bottom: 20px;
  }
  .square-form .error-message {
    margin-top: 8px;
    line-height: 1.2;
    color: #cc0023;
  }
  @media screen and (max-width: 1000px) {
    #google-pay-button,
    #apple-pay-button {
      margin-bottom: 10px;
    }
    #google-pay-button .gpay-card-info-container,
    #apple-pay-button .gpay-card-info-container {
      width: 100%;
    }
  }