.coupon-panel {
  font-size: 14px;
  color: #4b5056;
}
.coupon-panel .guide-item {
  display: flex;
  align-items: center;
}
.coupon-panel .guide-item .icon {
  width: 20px;
  margin-right: 4px;
}
.coupon-panel .guide-item .label {
  cursor: pointer;
  text-decoration: underline;
}
.coupon-panel .redemption-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coupon-panel .redemption-item .coupon-input {
  width: 100%;
  height: 42px;
  margin-right: 10px;
}
.coupon-panel .redemption-item .apply-btn {
  margin: 0;
  padding: 0;
  height: 42px;
  width: 100px;
  font-size: 16px;
  line-height: 42px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'brandon', sans-serif;
}
.coupon-panel .redemption-item .apply-btn .fa-spinner {
  color: #fff;
}
.coupon-panel .coupon-info {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #4b5056;
}
.coupon-panel .coupon-info .icon {
  width: 22px;
}
.coupon-panel .coupon-info .discount {
  margin: 0 4px 0 8px;
}
.coupon-panel .coupon-info .delete-coupon {
  cursor: pointer;
  font-size: 23px;
  color: #a9aeb2;
}