.cart-item-wrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.cart-item-wrapper .product-info {
  display: flex;
  align-content: center;
}
.cart-item-wrapper .product-info .image {
  width: 130px;
  height: 130px;
  border-radius: 4px;
  margin-right: 20px;
  background-size: cover;
  background-position: center;
}
.cart-item-wrapper .info-content {
  flex: 1;
  font-family: open_sans, Open Sans, sans-serif;
}
.cart-item-wrapper .info-content .name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #4b5056;
}
.cart-item-wrapper .info-content .specification-item {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 14px;
  color: #a9aeb2;
}
.cart-item-wrapper .info-content .split-line {
  margin: 0 6px;
}
.cart-item-wrapper .info-content .quantity-panel {
  display: flex;
  margin-top: 15px;
  align-items: center;
}
.cart-item-wrapper .info-content .operation-item {
  border-radius: 2px;
  color: #4b5056;
  display: inline-flex;
  font-size: 18px;
  background-color: #F4F6F8;
}
.cart-item-wrapper .info-content .operation-item .minus-icon,
.cart-item-wrapper .info-content .operation-item .plus-icon,
.cart-item-wrapper .info-content .operation-item .delete-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.cart-item-wrapper .info-content .operation-item .quantity-input {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  font-size: 15px;
  border-radius: 0;
  text-align: center;
  background-color: #F4F6F8;
}
.cart-item-wrapper .info-content .operation-item .quantity-input:focus {
  outline: none;
}
.cart-item-wrapper .info-content .error-message {
  color: #FB7D2B;
  line-height: 1.2;
  margin-left: 10px;
}
.cart-item-wrapper .product-price {
  font-weight: bold;
  font-size: 16px;
  color: #4b5056;
}