.fee-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 6px;
    color: #4b5056;
    font-family: open_sans, Open Sans, sans-serif;
  }
  .fee-item .name,
  .fee-item .amount {
    text-transform: uppercase;
    font-family: 'brandon', sans-serif;
  }
  .fee-item .value {
    margin-left: 6px;
    font-weight: 700;
  }
  .fee-item .label {
    margin-left: 6px;
  }