.s-bg-image {
    background-color: hsla(0, 0%, 92.5%, .2);
    color: #ececec;
}

.s-repeatable-item {
    margin-bottom: 20px;
    overflow: hidden;
}

.s-item-media-wrapper {
    float: left;
    width: 40%;
}

.s-item-text-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.s-item-title {
    margin-bottom: 10px;
}

.s-item-text p {
    margin-bottom: 5px;
}

.half-offset-left {
    padding-left: 3.125%;
    /*padding-right: 3.125%*/
}

.s-item-text-wrapper {
    margin-left: 10px; /* 调整文本与图片之间的间距 */
}