@font-face {
    font-family: 'Brandon';
    src: url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_bld-webfont.10b50ee4aa9930dd26ae117a07e922eb.eot);
    src: url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_bld-webfont.10b50ee4aa9930dd26ae117a07e922eb.eot?#iefix) format('embedded-opentype'), url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_bld-webfont.2bf5f4d8928806f7c91c290b5814aff9.woff) format('woff'), url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_bld-webfont.70c7d99488f7e8cf27634e9c58bf6217.ttf) format('truetype'), url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_bld-webfont.44a3e64aa120d1b7964f10be29ad878b.svg#BrandonGrotesqueBoldRegular) format('svg');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Brandon';
    src: url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_reg-webfont.662dee687e0069f714f79db9bde55f81.eot);
    src: url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_reg-webfont.662dee687e0069f714f79db9bde55f81.eot?#iefix) format('embedded-opentype'), url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_reg-webfont.64088d528192c8fce171860f56a14a9f.woff) format('woff'), url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_reg-webfont.04206b825348a69ee85b523c1e67a70f.ttf) format('truetype'), url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_reg-webfont.348bd0ea620c7861d0c3ac028ba911ed.svg#BrandonGrotesqueRegularRg) format('svg');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Brandon';
    src: url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_light-webfont.d23193b7e25a59254d67a04a9f6d4eaa.eot);
    src: url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_light-webfont.d23193b7e25a59254d67a04a9f6d4eaa.eot?#iefix) format('embedded-opentype'), url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_light-webfont.90829ddb7531a53c1dcd670d545999d2.woff) format('woff'), url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_light-webfont.2c18926b679dfb8abff6fc13c2b8beeb.ttf) format('truetype'), url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_light-webfont.518c0c41a5141b2e59732f43d9b70575.svg#BrandonGrotesqueLight) format('svg');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Brandon';
    src: url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_med-webfont.78c65e04664b2559e1ca630e2606c3b5.eot);
    src: url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_med-webfont.78c65e04664b2559e1ca630e2606c3b5.eot?#iefix) format('embedded-opentype'), url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_med-webfont.43b22b68b4b50438a8c9d5ed49507204.woff) format('woff'), url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_med-webfont.b2cf0cf708268a04055c5d8545d811a4.ttf) format('truetype'), url(https://static-assets.sxlcdn.com/webpack/fonts/brandon_med-webfont.785c578a01a0d60f61ad665fe481306d.svg#BrandonGrotesqueMedium) format('svg');
    font-weight: 600;
    font-style: normal;
  }
  .member-order-history-dialog .order-detail .header,
  .member-order-history-dialog .order-list .header {
    margin-bottom: 20px;
  }
  .member-order-history-dialog .order-detail .header .fa-angle-left,
  .member-order-history-dialog .order-list .header .fa-angle-left {
    font-size: 1.3em;
    margin-right: 10px;
  }
  .member-order-history-dialog .order-detail .header-text,
  .member-order-history-dialog .order-list .header-text {
    font-size: 18px;
    color: #50555c;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'brandon', sans-serif;
  }
  .member-order-history-dialog .order-detail .header-text:lang(ja),
  .member-order-history-dialog .order-list .header-text:lang(ja) {
    font-family: 'brandon', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
  .member-order-history-dialog .order-detail .header-text:lang(zh-cn),
  .member-order-history-dialog .order-list .header-text:lang(zh-cn),
  .member-order-history-dialog .order-detail .header-text:lang(zh),
  .member-order-history-dialog .order-list .header-text:lang(zh),
  .member-order-history-dialog .order-detail .header-text:lang(sxl),
  .member-order-history-dialog .order-list .header-text:lang(sxl) {
    font-family: 'brandon', 'PingFang SC', "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif;
  }
  .member-order-history-dialog .order-detail .header-text:lang(zh-tw),
  .member-order-history-dialog .order-list .header-text:lang(zh-tw) {
    font-family: 'brandon', 'PingFang TC', 'Microsoft JhengHei', "微軟正黑體", STXihei, sans-serif;
  }
  .member-order-history-dialog .order-detail {
    font-size: 14px;
    color: #52616a;
  }
  .member-order-history-dialog .order-detail .left {
    float: left;
  }
  .member-order-history-dialog .order-detail .right {
    float: right;
  }
  .member-order-history-dialog .order-detail .bold {
    font-weight: 600;
  }
  .member-order-history-dialog .order-detail .bold-700 {
    font-weight: 700;
  }
  .member-order-history-dialog .order-detail .normal-title {
    font-size: 16px;
    font-weight: 600;
    color: #52616a;
    margin-bottom: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    font-family: 'brandon', sans-serif;
  }
  .member-order-history-dialog .order-detail .normal-title:lang(ja) {
    font-family: 'brandon', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
  .member-order-history-dialog .order-detail .normal-title:lang(zh-cn),
  .member-order-history-dialog .order-detail .normal-title:lang(zh),
  .member-order-history-dialog .order-detail .normal-title:lang(sxl) {
    font-family: 'brandon', 'PingFang SC', "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif;
  }
  .member-order-history-dialog .order-detail .normal-title:lang(zh-tw) {
    font-family: 'brandon', 'PingFang TC', 'Microsoft JhengHei', "微軟正黑體", STXihei, sans-serif;
  }
  .member-order-history-dialog .order-detail .normal-text {
    line-height: 1.4;
    font-size: 14px;
    color: #636972;
  }
  .member-order-history-dialog .order-detail .normal-text.small {
    line-height: 20px;
  }
  .member-order-history-dialog .order-detail .normal-text.light {
    font-weight: 300;
  }
  .member-order-history-dialog .order-detail .fa.l-m {
    margin-left: 5px;
  }
  .member-order-history-dialog .order-detail .fa.r-m {
    margin-right: 5px;
  }
  .member-order-history-dialog .order-detail .row-section {
    margin: 25px auto;
  }
  .member-order-history-dialog .order-detail .row-section:first-child,
  .member-order-history-dialog .order-detail .row-section:first-of-type {
    margin-top: 0;
  }
  .member-order-history-dialog .order-detail .row-section:last-child,
  .member-order-history-dialog .order-detail .row-section:last-of-type {
    margin-bottom: 0;
  }
  .member-order-history-dialog .order-detail .row-section .s-box {
    padding: 12px 16px;
    line-height: 18px;
  }
  .member-order-history-dialog .order-detail .row-section .s-box .fa {
    margin-right: 5px;
  }
  .member-order-history-dialog .order-detail .row-section .s-box.white {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list {
    width: 100% !important;
    text-align: left;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list th {
    background: #f6f6f6;
    padding: 10px 5px;
    font-weight: 600;
    white-space: nowrap;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td {
    padding: 0 5px 10px 5px;
    vertical-align: top;
    line-height: 1.25;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td.calculation-label {
    text-align: right;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td.product-name {
    min-width: 200px;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td.product-name .discount {
    display: block;
    color: #38b2a1;
    margin: 10px 0;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td .shipping-icon {
    margin-right: 4px;
    vertical-align: middle;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td .pay-now-payment-item {
    margin-left: 2px;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td .pay-now-payment-item span {
    margin-left: 2px;
    font-weight: bold;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td .bank-icon {
    height: auto;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td.total-price .total-price-value {
    vertical-align: middle;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td.total-price .currency-tag {
    vertical-align: middle;
    font-family: 'brandon', sans-serif;
    padding: 1px 3px 1px;
    color: #a9aeb2 !important;
    border: 1px solid #a9aeb2;
    font-size: 10px !important;
    font-weight: bold;
    line-height: 1.25;
    border-radius: 3px;
    text-transform: uppercase;
    font-style: normal !important;
    margin-left: 5px;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td.total-price .currency-tag:lang(ja) {
    font-family: 'brandon', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td.total-price .currency-tag:lang(zh-cn),
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td.total-price .currency-tag:lang(zh),
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td.total-price .currency-tag:lang(sxl) {
    font-family: 'brandon', 'PingFang SC', "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td.total-price .currency-tag:lang(zh-tw) {
    font-family: 'brandon', 'PingFang TC', 'Microsoft JhengHei', "微軟正黑體", STXihei, sans-serif;
  }
  @media only screen and (max-width: 727px) {
    .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list td.total-price {
      white-space: normal;
    }
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr.title-row th {
    border-bottom: 1px solid #ddd;
    color: #52616a;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr.last-row td {
    padding: 15px 5px 10px;
    border-top: 1px solid #ddd;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr.last-row td.bold {
    font-family: 'brandon', sans-serif;
    font-weight: 700;
    padding-left: 20px;
    text-align: right;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr.last-row td.bold:lang(ja) {
    font-family: 'brandon', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr.last-row td.bold:lang(zh-cn),
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr.last-row td.bold:lang(zh),
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr.last-row td.bold:lang(sxl) {
    font-family: 'brandon', 'PingFang SC', "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr.last-row td.bold:lang(zh-tw) {
    font-family: 'brandon', 'PingFang TC', 'Microsoft JhengHei', "微軟正黑體", STXihei, sans-serif;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr.last-row td img {
    height: 20px;
    vertical-align: middle;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr.last-row td img.afterpay {
    height: 14px;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr.last-row td img.klarna {
    height: 12px;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr.last-row td .bank-icon {
    height: auto;
    margin-right: 4px;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr.total-row td {
    padding: 0 5px 15px;
    font-size: 16px;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr.first-data-row td {
    padding-top: 15px;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr.last-data-row td {
    padding-bottom: 15px;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr th.first,
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr td.first {
    padding-left: 15px;
  }
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr th.last,
  .member-order-history-dialog .order-detail .order-info .table-wrapper .item-list tr td.last {
    padding-right: 15px;
  }
  .member-order-history-dialog .order-detail .shipping-info,
  .member-order-history-dialog .order-detail .order-transactions {
    box-sizing: border-box;
  }
  @media only screen and (min-width: 728px) {
    .member-order-history-dialog .order-detail .shipping-info,
    .member-order-history-dialog .order-detail .order-transactions {
      width: 48%;
    }
  }
  .member-order-history-dialog .order-detail .shipping-info .notes span,
  .member-order-history-dialog .order-detail .order-transactions .notes span {
    font-weight: 400;
    word-wrap: break-word;
  }
  @media only screen and (min-width: 728px) {
    .member-order-history-dialog .order-detail .shipping-info {
      float: left;
    }
  }
  .member-order-history-dialog .order-detail .shipping-info .s-box {
    min-height: 120px;
  }
  .member-order-history-dialog .order-detail .shipping-info .s-box .info-label,
  .member-order-history-dialog .order-detail .shipping-info .s-box .info-content {
    display: inline-block;
    margin-bottom: 12px;
    vertical-align: top;
  }
  .member-order-history-dialog .order-detail .shipping-info .s-box .additional-item {
    display: flex;
    align-items: flex-start;
  }
  .member-order-history-dialog .order-detail .shipping-info .s-box .info-label {
    min-width: 100px;
    margin-right: 10px;
    color: #a9aeb2;
    word-break: break-word;
  }
  .member-order-history-dialog .order-detail .shipping-info .s-box .info-content {
    max-width: 250px;
    white-space: normal;
  }
  .member-order-history-dialog .order-detail .shipping-info .s-box .split-line {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #8D949C;
    margin-bottom: 10px;
  }
  .member-order-history-dialog .order-detail .shipping-info .s-box .split-line::before,
  .member-order-history-dialog .order-detail .shipping-info .s-box .split-line::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #F4F6F8;
  }
  .member-order-history-dialog .order-detail .shipping-info .s-box .split-line::before {
    margin-right: 10px;
  }
  .member-order-history-dialog .order-detail .shipping-info .s-box .split-line::after {
    margin-left: 10px;
  }
  .member-order-history-dialog .order-detail .shipping-info .additional-info .additional-title {
    position: relative;
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
    overflow: hidden;
    color: #636972;
  }
  .member-order-history-dialog .order-detail .shipping-info .additional-info .additional-title .inner {
    position: absolute;
    left: 50%;
    font-size: 14px;
    padding: 0 10px;
    white-space: nowrap;
    line-height: 1px;
    text-transform: capitalize;
    transform: translateX(-50%);
    border-left: 20vw solid #a9aeb2;
    border-right: 20vw solid #a9aeb2;
  }
  .member-order-history-dialog .order-detail .order-transactions .s-box {
    padding: 0;
  }
  .member-order-history-dialog .order-detail .order-transactions .history-item {
    padding: 15px;
    border-top: 1px solid #ddd;
  }
  .member-order-history-dialog .order-detail .order-transactions .history-item:first-child {
    border-top: none;
  }
  .member-order-history-dialog .order-detail .order-transactions .history-item .basic-info {
    overflow: hidden;
  }
  .member-order-history-dialog .order-detail .order-transactions .history-item .basic-info .item-date {
    color: #a9aeb2;
  }
  .member-order-history-dialog .order-detail .order-transactions .history-item .extra-info {
    margin-top: 5px;
    color: #a9aeb2;
    overflow: hidden;
  }
  .member-order-history-dialog .order-detail .order-transactions .history-item .extra-info .ib {
    max-width: 100%;
    word-wrap: break-word;
  }
  .member-order-history-dialog .order-list {
    margin-bottom: 40px;
  }
  .member-order-history-dialog .order-list .s-kit-table-row {
    cursor: pointer;
  }
  .member-order-history-dialog .order-list .s-kit-table-thead > tr > th {
    padding-right: 40px;
  }
  .member-order-history-dialog .order-list .s-kit-table-thead > tr > th:last-child {
    padding-right: initial;
  }
  .member-order-history-dialog .order-list .fa-angle-right {
    font-size: 1.4em;
  }