.membership-nav-container {
    display: inline-block;
  }
  .membership-nav-container .s-nav-li > .s-nav-link-container > a {
    white-space: normal;
  }
  .membership-nav-container .s-nav-li .nav-item .s-nav-dropdown ul li a {
    white-space: normal!important;
    line-height: 20px;
  }